.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  row-gap: 20px;
  padding: 50px;
  background: #61dafb;
  font: italic small-caps bold 21px/2 cursive;
}